/* CSS Document */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
	
}

h1 {
    background-color:#305296;
    text-align: center;
    color: crimson;
	font-family: "Baskerville", "Palatino Linotype", "Palatino", "Century Schoolbook L", "Times New Roman", "serif";
}

section {
	background-color: #44AAA5;

}

nav {
    background-color:transparent;
	opacity: inherit;
}

nav ul {
    color: #426AC3;
    list-style-type: none;
    text-align: center;
}

nav li {
    color: #F5B61A;
    display: inline;
}

nav li a {
    color: crimson;
	font-weight: bolder;
    text-decoration: none;
    padding: 5%;
	opacity: inherit;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

nav li:hover {
    
}

.home {
	min-height: 400px;
	width: 100%;
	background-image: url("../images/home_Beach.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:50% 50%;
}

main p {
	padding: 0 2%;
	margin: 0 2%;
	text-align: center;
	background-color: rgb(256, 256, 256, 70%);
	font-size: 1.2em;
	padding-top: auto;
	border-radius: 15px;
}

.grace {
	min-height: 400px;
	width: 100%;
	background-image: url("../images/GraceBayBeach.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:50% 50%;
}

.shoal {
	min-height: 400px;
	width: 100%;
	background-image: url("../images/ShoalBayEast.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:50% 50%;
}

.trunk {
	min-height: 400px;
	width: 100%;
	background-image: url("../images/trunkBayBeach.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:50% 50%;
}

.news {
	min-height: 400px;
	width: 100%;
	background-image: url("../images/newsletter_Beach.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:50% 50%;
}

table {
	margin: 0 auto;
}

input {
	padding: 2px 0;
	background-color: #ccc;
}

form {
	background-color: rgb(256, 256, 256, 70%);
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
	border-radius: 10px;
}

.btn {
	font-size: .7em;
	padding: 2px 5px;
	border: 2px solid #111;
	border-radius: 5px;
}


blockquote {
	font-size: 3em;
	text-align: center;
	padding: 1%;
}

footer {
    background-color: #305296;
    text-align: center;
}

.nbg {
}
